<%-include('header')-%>
    <div class="w-25 center-div ">
    <form action="#" method="POST" enctype="multipart/form-data">
        
        <div class="container p-4 form-group">
            <h2 class="text-center">Login System</h2>
        <p class="text-center">Login for existing user</p>
        <label class="form-label">Email</label>
        <input type="email" name="email" placeholder="Enter Your email address" class="form-control mb-2"required>
        <label class="form-label">
            password
        </label>
        <input type="password" name="password" placeholder="Enter password" class="form-control mb-2" required>
        <button class="btn btn-success rounded-pill ps-4 pe-4 pt-2 pb-2 mt-2">
            Login       
        </button>
        <p class="mt-2">
            Don't have an account?<a href="/signup">sign up</a>
        </p>
    </div>
    </form>
</div>

<%-include('footer')-%>